# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  schedule:
    - cron: 0 0 * * 1 # schedule to run at midnight on Monday each week
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: Ubuntu

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-20.04, r: 'release'}
          - {os: ubuntu-20.04, r: 'devel'}
          - {os: ubuntu-20.04, r: 'devel', pkgs: 'depends only'}

    env:
      _R_REMOTES_NO_ERRORS_FROM_WARNINGS_: true
      _R_CHECK_FORCE_SUGGESTS_: false
      _R_CHECK_TIMINGS_: 10
      _R_CHECK_CRAN_INCOMING_REMOTE_: false
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      CI: true

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - name: Install system dependencies
        run: |
          sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable
          sudo apt update
          sudo apt-get install \
            libgdal-dev libgeos-dev libproj-dev \
            libgmp3-dev libmpfr-dev libudunits2-dev

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 4
          extra-packages: |
            any::rcmdcheck
            any::urlchecker
            any::remotes
            prepr=?ignore
            cran/XML
          needs: |
            check

      - name: Install spatial R packages
        run: |
          options(repos = "https://cloud.r-project.org/")
          install.packages("sf")
          install.packages("lwgeom")
          remotes::install_github("dickoa/prepr")
        shell: Rscript {0}

      - name: Session information
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
        shell: Rscript {0}

      - name: Environmental variables
        if: matrix.config.pkgs == 'depends only'
        run: |
          echo "_R_CHECK_DEPENDS_ONLY_=true" >> $GITHUB_ENV

      - uses: r-lib/actions/check-r-package@v2
        with:
          args: 'c("--no-manual", "--as-cran", "--no-build-vignettes")'
          upload-snapshots: true

      - name: Show testthat output
        if: always()
        run: find check -name 'testthat.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Test coverage
        if: runner.os == 'Linux' && matrix.config.r == 'release'
        run: covr::codecov()
        shell: Rscript {0}
